
/* Mobile & Tablet */

@media (max-width: 1023px) {
    
    
    .hide-on-mobile-tablet {
        display: none;
    }
    .header-list{
        display: none;
    }
    .header-main{
        flex-direction: column;
    }
    .header{
        background-color: #555555;
    }
    .heading-content-category{
        flex-direction: column;
    }
    .banner-content-left-heading,.banner-content-left-main{
        margin: 0;
    }
    .banner-content-left{
        line-height: 5rem;
        
        padding: 0 25px 45px;
    }
    .banner-content-right,.banner-content-left{
        margin: 0;
    }
    #countdown{
        flex-direction: column;
        width: 100%;
    }
    .countdown-left-heading-name{
        line-height: 3.5rem;
        margin-bottom: 5px;
    }
    .countdown-left-heading-name::after{
        bottom: 2px;
        left: 0%;
    }
    .countdown-left-content{
        margin: 0;
    }
    .countdown-left-content-descrip{
        padding-top: 15px;
    }
    .countdown-right-tab-img{
        width: 100%;
        height: unset;
    }
    .countdown-right{
        margin-top: 40px;
        padding: 0 25px;
    }
}

/* Mobile */

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
        
    }
    #heading{
        height: 213vh;
    }
    .heading-content{
        width: 100%;
        padding: 0 25px;
        text-align: center;
    }
    .heading-content-descrip{
        line-height: 3rem;
    }
    .heading-content-search{
        width: 100%;
    }
    .heading-content-search-icon{
        display: none;
    }
    .heading-content-category-box-main{
        width: 200px;
    }
    .heading-content-category-box{
        padding: 10px;
    }
    .heading-content-search-history{
        right: 13px;
    }
    #destination{
        padding: 0 25px;
    }
    .destination-content{
        width: 100%;
        grid-template-columns: none;
    }
    .destination-heading-descip{
        line-height: 4rem;
    }
    .destination-heading-descip::after{
        left: 5px;
        bottom: 6px;
        right: unset;
        top: unset;
    }
    .banner-content{
        flex-direction: column;
        
    }
    #banner{
        height: 400px;
    }
    .banner-content-left-main::before{
        bottom: 0;
        right: 70px;
    }
    .countdown-left{
        padding: 0 35px 0 25px;
    }
    .countdown-left-footer-price{
        font-size: 2.5rem;
    }
    .countdown-right-tabs{
        right: 16%;
    }
    .countdown-right-box{
        width: 270px;
        right: 0;
        margin: 0 25px;
        height: unset;
        bottom: unset;
    }
    .countdown-right-list{
        flex-direction: column;
    }
    #sub-countdow{
        margin-top: 370px;
        width: 100%;
        padding: 0 25px;
    }
    .sub-countdow-list{
        flex-direction: column;
    }
    .sub-countdow-desciption{
        margin-right: 0;
    }
    .sub-countdow-item{
        padding-bottom: 30px;
    }
    
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    
}