
/* Mobile & Tablet */

@media (max-width: 1023px) {
    
    
    .hide-on-mobile-tablet {
        display: none;
    }
    .header-list{
        display: none;
    }
    .header-main{
        flex-direction: column;
    }
    .header{
        background-color: #555555;
    }
    .heading-content-category{
        flex-direction: column;
    }
    .banner-content-left-heading,.banner-content-left-main{
        margin: 0;
    }
    .banner-content-left{
        line-height: 5rem;
        
        padding: 0 25px 45px;
    }
    .banner-content-right,.banner-content-left{
        margin: 0;
    }
    #countdown{
        flex-direction: column;
        width: 100%;
    }
    .countdown-left-heading-name{
        line-height: 3.5rem;
        margin-bottom: 5px;
    }
    .countdown-left-heading-name::after{
        bottom: 2px;
        left: 0%;
    }
    .countdown-left-content{
        margin: 0;
    }
    .countdown-left-content-descrip{
        padding-top: 15px;
    }
    .countdown-right-tab-img{
        width: 100%;
        height: unset;
    }
    .countdown-right{
        margin-top: 40px;
        padding: 0 25px;
    }
    #discover{
        flex-direction: column;
    }
    .discover-left,.discover-right{
        width: 100%;
        padding: 60px 15px;
    }
    #footer{
        height: 100%;
        display: block;
    }
    .footer-heading-right-submit,.footer-heading-right-input{
        display: block;
        width: 100%;
    }
    .footer-heading-right-input{
        margin-bottom: 15px ;
    }
}

/* Mobile */

@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
        
    }
    #heading{
        height: 213vh;
    }
    .heading-content{
        width: 100%;
        padding: 0 25px;
        text-align: center;
    }
    .heading-content-descrip{
        line-height: 3rem;
    }
    .heading-content-search{
        width: 100%;
    }
    .heading-content-search-icon{
        display: none;
    }
    .heading-content-category-box-main{
        width: 200px;
    }
    .heading-content-category-box{
        padding: 10px;
    }
    .heading-content-search-history{
        right: 13px;
    }
    #destination{
        padding: 0 25px;
    }
    .destination-content{
        width: 100%;
        grid-template-columns: none;
    }
    .destination-heading-descip,.package-heading-descip{
        line-height: 4rem;
    }
    .destination-heading-descip::after{
        left: 5px;
        bottom: 6px;
        right: unset;
        top: unset;
    }
    .banner-content{
        flex-direction: column;
        
    }
    #banner{
        height: 400px;
    }
    .banner-content-left-main::before{
        bottom: 0;
        right: 70px;
    }
    .countdown-left{
        padding: 0 35px 0 25px;
    }
    .countdown-left-footer-price{
        font-size: 2.5rem;
    }
    .countdown-right-tabs{
        right: 16%;
    }
    .countdown-right-box{
        width: 270px;
        right: 0;
        margin: 0 25px;
        height: unset;
        bottom: unset;
    }
    .countdown-right-list{
        flex-direction: column;
    }
    #sub-countdow{
        margin-top: 370px;
        width: 100%;
        padding: 0 25px;
    }
    .sub-countdow-list{
        flex-direction: column;
    }
    .sub-countdow-desciption{
        margin-right: 0;
    }
    .sub-countdow-item{
        padding-bottom: 30px;
    }
    #our-package{
        margin-top: 310px;
        padding: 0 25px;
    }
    .discover-title{
        font-size: 2.6rem;
    }
    .our-package-content{
        width: unset;
        grid-template-columns:unset;
    }
    .our-package-item{
        margin: 0;
    }
    .our-package-tag{
        flex-direction: column;
        align-items: unset;
    }
    .our-package-tag-left{
        padding-bottom: 15px;
    }
    .our-package-miniicon{
        top: 23%;
    }
    .our-package-tag-old-price{
        right: 85px;
        bottom: 14px;
    }
    .footer-heading{
        display: block;
        width: unset;
        padding-top: 50px;
    }
    .footer-content{
        padding:0 25px;
        width: unset;

    }
    .footer-info-content{
        flex-direction: column;
    }
    .footer-info-left{
        width: unset;
    }
    .footer-info-right{
        flex-direction: column;
    }
    .footer-info-list{
        padding-left: 0;
    }
    .footer-info-left-social{
        display: flex;
        justify-content: space-around;
    }
    .footer-info-left-social-icon{
        margin-right: 0;
    }
    .footer-info-right{
        width: 100%;
        padding: 0 15px;
        margin-top: 15px;
    }
    .footer-info-item:first-child{
        padding-bottom: 15px;
    }
    .footer-article-main{
        flex-direction: column;
        text-align: center;
        
    }
    .footer-article-descrip{
        margin-bottom: 25px;
    }
    .footer-article{
        height: unset;
    }
    .footer-article-main{
        padding: 15px;
    }
    .package-heading-descip::after{
        right: 5.5%;
        bottom: 5px;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }
    .heading-content{
        width: 100%;
    }
    .heading-content-search-input{
        width: 80%;
    }
    .heading-content-search{
        width: 100%;
    }
    .heading-content-search-history {
        right: 26px;
        width: 93%;
    }
    .heading-content-category-box-main{
        width: 564px;
    }
    #heading{
        height: 115vh;
    }
    .destination-heading-descip::after{
        right: 210px;
    }
    .destination-content{
        margin-top: 60px;
        width: unset;
        padding: 0 25px;
    }
    .destination-content{
        gap: 15px 15px;
    }
    .banner-content{
        flex-direction: column;
    }
    .banner-content-left-main,.banner-content-left-heading{
        font-size: 4rem;
    }
    .banner-content-left{
        padding-right: 435px;
    }
    .banner-content-left-main::before{
        bottom: 6px;
        width: 160px;
    }
    #countdown {
        padding: 0 25px;
    }
    .countdown-left-heading-name::after{
        left: 162px;
    }
    #sub-countdow{
        width: unset;
        padding: 0 25px;
    }
    .sub-countdow-list{
        flex-direction: column;
    }
    .sub-countdow-item{
        margin-bottom: 30px;
    }
    #our-package{
        margin-top: 336px;
    }
    .package-heading-descip::after{
        left: 326px;
        bottom: -4px;
    }
    .our-package-content{
        width: unset;
        grid-template-columns:unset;
    }
    .our-package-miniicon{
        top: 54%;
    }
    .our-package-tag{
        flex-direction: column;
        align-items: unset;
    }
    .our-package-tag-right{
        margin-top: 15px;
    }
    .our-package-tag-old-price{
        left: 84px;
        bottom: 14px;
    }
    .footer-content{
        width: unset;
    }
    .footer-heading{
        flex-direction: column;
    }
    .footer-heading{
        align-items: flex-start;
        width: unset;
    }
    .footer-heading-right-submit, .footer-heading-right-input {
        display: unset;
        width: unset;
    }
    .footer-heading-right-submit{
        width: 177px;
    }
    .footer-heading-right-input{
        width: 504px;
    }
    .footer-content{
        padding: 0 30px;
    }
    .footer-heading-left {
        margin: 50px 0 35px;
    }
    .footer-info-content{
        flex-direction: column;
    }
    .footer-info-list{
        padding-left: 0;
    }
    .footer-info-right{
        width: 100%;
        justify-content: space-evenly;
        margin-top: 25px;
    }
    .footer-info-left{
        width: 100%;
        text-align: center;
    }
}