*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
/* header */
#heading{
    background: url('../img/parallax-2.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.header{
    background-color: #0000001F;   
}
.header-logo{
  
}
.header-main{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    /* line-height: 4.4rem; */
    align-items: center;
}
.header-logo-img{
    width: 160px;
}
.header-list{
    display:flex;
    align-items: center;
}
.header-menu-icon{
    padding: 15px;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 100;
    cursor: pointer;
    opacity: 0.7;
}
.header-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 1105px;
}

.header-link{
    padding: 25px 15px;
    color: #ffffff;
    font-size: 1.4rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
}
.header-item:last-child
.header-link{
    background-color: #ba71da;
    border-radius: 30px;
    padding: 12px 15px;
    margin-left: 25px;
}
.header-item{
    position: relative;
}
.header-item-packages,
.header-item-shop,
.header-item-about,
.header-item-page,
.header-item-new,
.header-item-contact{
    position: absolute;
    background-color: #ffffff;
    width: 190px;
}
.header-item-packages-list,
.header-item-shop-list,
.header-item-about-list,
.header-item-page-list,
.header-item-new-list,
.header-item-contact-list{
    padding-left: 0;
    list-style: none;
    box-shadow: 0px 2px 5px #f1f1f1;
    display: none;
}
.header-item-packages-link,
.header-item-shop-link,
.header-item-about-link,
.header-item-page-link,
.header-item-packages-item-submenu-link,
.header-item-page-item-submenu-link,
.header-item-page-item-submenu-link,
.header-item-new-link,
.header-item-new-item-submenu-link,
.header-item-contact-link
{
    display: block;
    padding: 15px 25px;
    text-decoration: none;
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 2px;
}
.header-item-packages-item,
.header-item-shop-item,
.header-item-about-item,
.header-item-page-item,
.header-item-new-item,
.header-item-contact-item{
    border-bottom: 1px solid #f1f1f1;
    position: relative;
}
.header-item-packages-item:hover ,
.header-item-packages-item-submenu-item:hover ,
.header-item-shop-link:hover,
.header-item-about-link:hover,
.header-item-page-link:hover,
.header-item-page-item-submenu-item:hover,
.header-item-new-link:hover,
.header-item-new-item-submenu-item:hover,
.header-item-contact-link:hover
{
    background-color: #f1f1f1;
    transition: .2s;
}
.header-item-packages-item:first-child::after{
    content: 'Hot';
    background-color: #f76570;
    padding: 3px 5px;
    position: absolute;
    color: #ffffff;
    right: 25px;
    top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1rem;
}
.header-item-about-item:first-child::after{
    content: 'new';
    background-color: #1bbc9b;
    padding: 3px 5px;
    position: absolute;
    color: #ffffff;
    right: 25px;
    top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1rem;
}
.header-item-packages-item-icon,
.header-item-page-item-icon1,
.header-item-page-item-icon2,
.header-item-new-item-icon{
    position: absolute;
    top: 39%;
    right: 19px;
    color: #9a9a9a;
    font-size: 1.3rem;
}
.header-item-packages-item-submenu,
.header-item-shop-item-submenu,
.header-item-page-item-submenu,
.header-item-new-item-submenu{
    position: absolute;
    width: 190px;
    right: -192px;
    padding-left: 0;
    top: 55%;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0px 2px 5px #f1f1f1;
    display: none;
}
.header-item-packages-item-submenu-item:first-child::after{
    content: 'best';
    background-color: #14b9d5;
    padding: 3px 5px;
    position: absolute;
    color: #ffffff;
    right: 25px;
    top: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1rem;
}
.header-item:nth-child(2):hover 
.header-item-packages-list{
    display: block;
}
.header-item:nth-child(3):hover 
.header-item-shop-list{
    display: block;
}
.header-item-packages-item:nth-child(3):hover 
.header-item-packages-item-submenu{
    display: block;
}
.header-item-shop-item:nth-child(3):hover 
.header-item-shop-item-submenu{
    display: block;
}
.header-item:nth-child(4):hover 
.header-item-about-list{
    display: block;
}
.header-item:nth-child(5):hover 
.header-item-page-list{
    display: block;
}
.header-item-page-item:nth-child(8):hover 
.header-item-page-item-submenu{
    display: block;
}
.header-item-page-item:nth-child(9):hover 
.header-item-page-item-submenu{
    display: block;
}
.header-item:nth-child(6):hover 
.header-item-new-list{
    display: block;
}
.header-item-new-item:nth-child(2):hover 
.header-item-new-item-submenu{
    display: block;
}
.header-item:nth-child(7):hover 
.header-item-contact-list{
    display: block;
}
.menu-slide{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    height: 100%;
    width: 325px;
    overflow-y: auto;
    display: none;
}
.menu-slide.active{
    display: block;
}
.menu-slide::-webkit-scrollbar {
    width: 5px;
    background-color: #fff;
    /* background của thanh cuộn */
}

.menu-slide::-webkit-scrollbar-thumb {
    background-color: #a1a1a1;
    /* màu của thanh cuộn*/
    /* border-radius: 10px; */
}
.menu-slide-heading{
    padding-top: 20px;
    text-align: center;
    position: relative;
}
.menu-slide-heading-title{
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 2.5rem;
    margin-bottom: 10px;
    margin-top: 0;
}
.menu-slide-heading-bold{
    color: #555555;
    font-size: 2.5rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    
    
}
.menu-slide-heading-bold::after{
    content: "";
    width: 100%;
    height: 5px;
    background-color: #ffd105;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 50%;
    z-index: -9;
}
.menu-slide-heading-icon{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2.5rem;
    opacity: 0.5;
    cursor: pointer;
}
.menu-slide-content{
    padding: 0 15px;
}
.menu-slide-content-list{
    list-style: none;
    padding-left: 0;
    
}
.menu-slide-content-item{
    display: flex;
    padding: 15px;
}
.menu-slide-content-item-img{
    width: 100px;
    height: 100px;
}
.menu-slide-content-item-box{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-slide-content-box-name{
    color: #555555;
    letter-spacing: 2px;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    
}
.menu-slide-content-box-price{
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    background: linear-gradient(to right, #ffd205 0%, #ff9b05 100%);
    border-radius: 15px;
    font-size: 1.2rem;
    letter-spacing: 2px;
    color: #ffffff;
    
}
.menu-slide-content-box-icon{
    font-size: 1.7rem;
}
.menu-slide-content-item-box span{
    color: #9a9a9a;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-left: 5px;
}
.menu-slide-content-center{
    margin: 15px;
    position: relative;
    
    
}
.menu-slide-content-center-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 4px;
    background: linear-gradient(to bottom, rgba(101,100,96,0) 0%,rgba(101,100,96,0.1) 70%,rgba(101,100,96,0.5) 100%);
}

.menu-slide-content-center-img{
    width: 100%;
    height: 100%;
    
}
.menu-slide-content-center-icon-img{
    
    width: 36px;

}
.menu-slide-content-center-icon{
    padding: 30px;
    position: absolute;
    left: 0;
    top: 0;
}
.menu-slide-content-center-title{
    position: absolute;
    bottom: 0;
    padding: 20px 30px 30px 30px;
    color: #ffffff;
}
.menu-slide-content-center-title-name{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 10px;
}
.menu-slide-content-center-title-quantity{
    margin: 0;
    letter-spacing: 2px;
    font-size: 1.5rem;
    font-weight: 400;
}
.menu-slide-content-center-backgroung{
    background: #14b9d5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.menu-slide-content-center-backgroung{
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    animation: fadeIn ease-out 1s;

}
.menu-slide-content-center-backgroung-content{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    
}
.menu-slide-content-center-backgroung-title{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 550;
    margin: 0;
}
.menu-slide-content-center-backgroung-content-link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 2.6rem;
}
.menu-slide-content-center-backgroung-view{
    padding: 9px 20px;
    background: #ffffff;
    color: #14b9d5;
    text-decoration: none;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 20px;
}
.menu-slide-content-center:hover .menu-slide-content-center-backgroung{
    display: flex;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
.heading-content{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top:60%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);   
}
.heading-content-category{
    display: flex;
}
.heading-content-title{
    font-size: 5rem;
    color: #ffffff;
    margin: 0;
    line-height: 5rem;
    margin-bottom: 35px;
}
.heading-content-descrip{
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 3px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 65px;
}
.heading-content-search{
    margin-bottom: 55px;
    width: 390px;
    padding: 10px 25px;
    border-radius: 30px;
    outline: none;
    line-height: 2.2rem;
    font-size: 1.5rem;
    border: none;
    
}
.heading-content-search-input{
    position: relative;
}
.heading-content-search-icon{
    position: absolute;
    right: 0;
    top: -9%;
    font-size: 2rem;
    padding: 20px;
    opacity: 0.5;
    cursor: pointer;
}
.heading-content-category-box{
    padding: 15px;
    
}
.heading-content-category-img{
    width: 40px;
}
.heading-content-category-box-main{
    box-sizing: border-box;
    padding: 20px;
    background: rgba(0,0,0,0.21);
    text-align: center;
    display: block;
    width: 117px;
    text-decoration: none;
}
.heading-content-category-descrip{
    margin: 0;
    font-size: 1.1rem;
    color: #ffffff;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 10px;
}

.heading-content-search-history{
    position: absolute;
    width: 88%;
    background: #ffffff;
    top: 43px;
    right: 24px;
    display: none;
}
.heading-content-search-history-list{
    list-style: none;
    padding-left: 0;
}
.heading-content-search-history-link{
    text-decoration: none;
    color: #a3a3a3;
    font-size: 1.6rem;
    padding: 10px 20px;
    display: block;
}
.heading-content-search-history-link:hover{
    background: #ba71da;
    color: #ffffff;
    text-transform: uppercase;
}
.heading-content-search:focus ~.heading-content-search-history{
    display: block;
}
#destination{
    margin-top: 60px;

}
.destination-heading{
    text-align: center;
}
.destination-heading-title{
    font-size: 1.4rem;
    color: #9a9a9a;
    letter-spacing: 2px;
    font-weight: 400;
}
.destination-heading-descip{
    font-size: 3.6rem;
    font-weight: 700;
    color: #555555;
    position: relative;
}
.destination-heading-descip::after{
    content: "";
    background: #1bbc9b;
    width: 259px;
    height: 5px;
    position: absolute;
    right: 587px;
    top: 16px;
    z-index: -1;
}

.destination-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
}
.destination-item{
    position: relative;
}
.destination-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px 30px;
    /* padding: 2rem 0;
    margin: 58px 24px 0 24px; */
}
.destination-img{
    width: 100%;
}
.destination-item:hover .menu-slide-content-center-backgroung{
    display: flex;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }

}
#banner{
    margin-top: 60px;
    background:url('../img/parallax-search-2.jpg') center / cover no-repeat;
    width: 100%;
    height: 234px;
    display: flex;
}
.banner-content{
    width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-content-left{
    color: #ffffff;
    margin-right: 140px;
}
.banner-content-left-heading{
    font-size: 4.5rem;
}
.banner-content-left-main{
    font-size: 5rem;
    position: relative;
    z-index: 1;
}
.banner-content-left-main::before{
    content: "";
    position: absolute;
    height: 5px;
    width: 200px;
    background: #f76570;
    bottom: -15px;
    right: -2px;
    z-index: -1;
}
.banner-content-link{
    text-decoration: none;
    color: #f76570;
    padding: 15px 35px;
    background: #ffffff;
    text-transform: uppercase;
    font-size: 1.4rem;
    border-radius: 38px;
    letter-spacing: 2px;
    display: block;
}
.banner-content-right{
    margin-right: 70px;
}
#countdown{
    display: flex;
    
    width: 1200px;
    margin: 60px auto;
}
.countdown-left{
    flex-basis: 40%;
}
.countdown-right{
    flex-basis: 60%;
}
.countdown-left-heading{

}
.countdown-left-heading-title{
    font-size: 1.4rem;
    color: #9a9a9a;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0;
}
.countdown-left-heading-name{
    color: #555555;
    font-size: 3.6rem;
    position: relative;
    z-index: 1;
}
.countdown-left-heading-name::after{
    position: absolute;
    content: "";
    width: 162px;
    height: 4px;
    background: #14b9d5;
    bottom: -4px;
    left: 36%;
    z-index: -1;
}
.countdown-left-content{
    padding-top: 10px;
    margin-right: 90px;
}
.countdown-left-content-descrip{
    font-size: 1.4rem;
    color: #9a9a9a;
    word-spacing: 5px;
    line-height: 2.4rem;
    
}
.countdown-left-footer{
    display: flex;
    align-items: baseline;
    padding: 20px 0 35px 0;
}
.countdown-left-footer-price{
    font-size: 3rem;
}
.countdown-left-footer-price-old{
    opacity: 0.2;
    text-decoration: line-through;
}
.countdown-left-footer-price-new{
    color: #555555;
    margin-left: 5px;
}
.countdown-left-footer-more{
    font-size: 1.4rem;
    color: #555555;
    margin-left: 10px;
    letter-spacing: 2px;
}
.countdown-left-book{
    display: block;
}
.countdown-left-book-link{
    color: #ffffff;
    padding: 10px 35px;
    background: #1bbc9b;
    font-size: 1.4rem;
    border-radius: 38px;
    text-decoration: none;
    text-transform: uppercase;
    
}
.countdown-right{
    position: relative;
}
.slide-img{
    width: 750px;
    height: 410px;
}

.countdown-right-tab-item{
    display: none;
}
.countdown-right-tab-item.active{
    display: block;
}
.countdown-right-tab-img{
    width: 750px;
    height: 410px;
}
.countdown-right-tabs{
    position: absolute;
    display: flex;
    right: 37%;
    top: 6%;

}
.countdown-right-tab{
    width: 60px;
    height: 3px;
    background: #aaa;
    margin-right: 10px;
    cursor: pointer;
}
.countdown-right-tab.active{
    background: #ffffff;
}
.countdown-right-box{
    position: absolute;
    width: 490px;
    height: 115px;
    background: #14b9d5;
    bottom: -53px;
    right: 16%;
}

.countdown-right-list{
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    
}
.countdown-right-item-day,
.countdown-right-item-hours,
.countdown-right-item-minutes,
.countdown-right-item-seconds{
    display: block;
    font-size: 3.5rem;
    padding-bottom: 15px;

}
.countdown-right-item{
    color: #ffffff;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 30px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.countdown-right-item::after{
    position: absolute;
    content: "/";
    top: -11px;
    right: -12px;
    font-size: 45px;
    color: #000;
    opacity: 0.05;
    font-weight: 400;
    line-height: 63px;
}
.countdown-right-item:last-child:after{
    content: "";
}
#sub-countdow{
    width: 1200px;
    margin: auto;
    margin-top: 115px;

}
.sub-countdow-list{
    list-style: none;
    padding-left: 0;
    display: flex;
}
.sub-countdow-item{
    display: flex;
    
}
.sub-countdow-img{
    width: 50px;
    height: 50px;
}
.sub-countdow-box{
    margin-left: 20px;
}
.sub-countdow-title{
    font-size: 2.4rem;
    color: #555555;
    margin: 0;
}
.sub-countdow-desciption{
    margin: 20px 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    opacity: 0.6;
    margin-right: 40px;
}
.sub-countdow-link{
    text-decoration: none;
    color: #14b9d5;
    font-size: 1.4rem;
}
#discover{
    width: 100%;
    height: 268px;
    display: flex;
    margin-top: 70px;
}
.discover-left{
    width: 50%;
    height: 100%;
    background:url('../img/parallax-5-filter.jpg') center / cover no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.discover-right{
    width: 50%;
    height: 100%;
    background:url('../img/parallax-6-filter.jpg') center / cover no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.discover-number{
    color: #ffffff;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 400;
}
.discover-title{
    color: #ffffff;
    font-size: 3.6rem;
    margin-bottom: 60px;
}
.discover-link{
    padding: 15px 35px;
    color: #f3a46b;
    background: #ffffff;
    font-size: 1.4rem;
    text-transform: uppercase;
    border-radius: 38px;
    text-decoration: none;
    letter-spacing: 2px;
}
.discover-link.green{
    color: #1bbc9b;
}